body { 
  background-color: blue;
  font-family: 'Roboto', sans-serif;
  background-image: url("numerot1.png");
}

.gameWindow {
  width: 650px;
  height: 400px;
  background-color: lightseagreen;
  margin: 10% auto;
  border-radius: 7px;
  border: 2px solid black;
  position: relative;
}

.gameContent {
  display: none;
  width: 500px;
  margin: 0 auto;
}

.btnsWindow {
  height: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.numberBtn {
  width: 40px;
  margin-right: 10px;
  text-align: center;
  padding: 6px 0 6px 0;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: beige;
  cursor: pointer;
  font-weight: bold;
  pointer-events: auto;
}

.numberBtnNotActive {
  width: 40px;
  margin-right: 10px;
  text-align: center;
  padding: 6px 0 6px 0;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: grey;
  cursor: pointer;
  font-weight: bold;
  pointer-events: none;
}

.numberBtn:hover {
  background-color: darkgrey;
}

.buttonStart {
  width: 100px;
  box-sizing: border-box;
  outline: inherit;
  height: 40px;
  padding: 0 30px 0 30px;
  border-radius: 5px;
  border: 1px solid grey;
  font-weight: bold;
  cursor: pointer;
  background: white;
}

.buttonStartAfterClose {
  width: 100px;
  box-sizing: border-box;
  outline: inherit;
  height: 40px;
  padding: 0 30px 0 30px;
  border-radius: 5px;
  border: 1px solid grey;
  font-weight: bold;
  cursor: pointer;
  background: white !important;
}

.buttonStart:hover {
  background-color: brown !important;
}

.startWindow {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 3s;
}

.gameText {
  margin-top: 80px;
  text-align: center;
}

.randomNumberText {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.aboutRandomNumber {
  margin-top: 25px;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.restartGameWindow {
  margin-top: 40px;
  display: none;
  text-align: center;
}

.restartBtn {
  width: 100px;
  box-sizing: border-box;
  outline: inherit;
  height: 40px;
  padding: 0 30px 0 30px;
  border-radius: 5px;
  border: 1px solid grey;
  font-weight: bold;
  cursor: pointer;
}

.restartBtn:hover {
  background-color: brown;
}

.scoreText {
  height: 20px;
  text-align: center;
}

.closeGame {
  width: 100px;
  box-sizing: border-box;
  outline: inherit;
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.closeGame:hover {
  background-color: brown;
}

.scoreAfterGame {
  margin-top: 50px;
  text-align: center;
}